.wp-block-separator {
	border-top: none;
}

@media screen and (max-width: 600px) {
	.hide-on-mobile {
		display: none;
	}
}

body .ramp-page-section {
	border-bottom: 1px solid var(--wp--preset--color--medium-grey);
	margin-bottom: 48px;
	padding-bottom: 42px;
}

.ramp-page-section:first-child {
	padding-top: 0;
}

.ramp-page-section:last-child {
	border-bottom: none;
}

.ramp-page-bottom:last-child {
	border-bottom: none;
}

.single-ramp_profile .ramp-page-section:first-of-type {
	margin-top: 60px;
}

.single-ramp_profile .ramp-page-section {
	border-top: 1px solid var(--wp--preset--color--medium-grey);
	border-bottom: none;
	padding: 48px 0;
}

@media screen and (max-width: 600px) {
	.single-ramp_profile .ramp-page-section {
		padding-bottom: 0;
	}
}

.single-ramp_profile .item-type-block-header {
	color: var(--wp--preset--color--ramp-green);
	margin-bottom: 48px;
	text-transform: uppercase;
}

.article-featured-image .wp-block-post-featured-image {
	height: 100%;
}

.article-featured-image .wp-block-post-featured-image img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/* 781px is WP's native breakpoint for column stacking */
@media screen and (max-width: 780px) {
	body .article-with-featured-image-item-intro {
		gap: 0;
	}

	.article-with-featured-image-item-intro .article-intro-content {
		margin-top: -36px;
	}

	.article-featured-image {
		order: 0;
	}

	.article-intro-content {
		order: 1;
	}

	.article-featured-image .wp-block-post-featured-image {
		width: calc( 100% + 32px );
		margin-left: -16px;
	}

	.single-ramp_review .single-sidebar {
		order: 0;
	}

	.single-ramp_review .single-main {
		order: 1;
	}
}

/*
 * Navigation/search
 */

.nav-and-search a:hover,
.secondary-nav a:hover {
	text-decoration: underline;
}

.nav-and-search a,
.secondary-nav a {
	text-decoration: none;
}

.wp-block-navigation .wp-block-navigation__submenu-icon {
	margin-left: 8px;
	background: url( '../img/ic_arrow_drop_down_24px.png' ) no-repeat center right;
}

.wp-block-navigation .wp-block-navigation__submenu-icon svg {
	display: none;
}

.wp-block-columns.nav-and-search {
	align-items: center !important;
}

.nav-search {
	text-indent: -999em;
	width: 18px;
	height: 18px;
	background-image: url( '../img/search.png' );
	background-size: 18px 18px;
}

@media screen and (min-width: 601px) {
	.nav-and-search .wp-block-navigation__responsive-container {
		background-image: none !important;
		top: 0 !important;
	}

	.wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content.secondary-nav-contents {
		display: none;
		visibility: hidden;
	}
}

@media screen and (max-width: 600px) {
	.secondary-nav {
		display: none;
		visibility: hidden;
	}

	.secondary-nav-contents {
		border-top: 1px solid var(--wp--preset--color--medium-grey);
		margin-top: 48px;
	}

	.nav-and-search .wp-block-navigation__responsive-container-close {
		position: relative;
		top: auto;
		right: auto;
	}

	.nav-and-search .wp-block-navigation__responsive-container.is-menu-open {
		background-repeat: no-repeat;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 0;
	}

	.nav-and-search .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content.primary-nav-responsive-contents {
		padding-top: 48px;
	}

	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container .wp-block-navigation-item {
		margin: 16px 0;
	}
}

/* Block editor doesn't support doing this properly */
.header-centered {
	text-align: center;
}

.header-centered .nav-and-search {
	display: inline-flex;
}

.header-centered .nav-and-search-group {
	border-top: 1px solid var(--wp--preset--color--almost-black);
}

.footer-nav .wp-block-navigation a,
.footer-nav .wp-block-navigation a:active,
.footer-nav .wp-block-navigation a:focus {
	text-decoration: underline;
}

.footer-nav .wp-block-navigation a:hover {
	text-decoration: none;
}

/**
 * theme.json doesn't yet support pseudo-classes.
 *
 * See https://github.com/WordPress/gutenberg/issues/27075
 */
a:hover {
	text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration: underline;
}

.footer-bottom a {
	text-decoration: none;
}

.footer-bottom a:hover {
	text-decoration: underline;
}

/* Item Type */
.item-type-block {
	margin-bottom: 64px;
}

.item-type-block-header {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.item-type-block-header > h2 {
	margin-bottom: 0;
}

body .item-intro {
	margin-top: calc( 64px + 1rem );
}

.directory-intro,
.single-ramp_topic .item-intro {
	border-bottom: 1px solid var(--wp--preset--color--medium-grey);
}

.directory-intro p:empty {
	margin: 0;
}

.item-intro h2 {
	margin-top: 0;
}

body .directory-intro {
	padding-bottom: 48px;
	margin-bottom: 48px;
	/* 1rem offsets the negative margin on the header, which cancels out WP's block gap */
	margin-top: calc( 64px + 1rem );
}

@media screen and (max-width: 600px) {
	body .directory-intro {
		padding-bottom: 24px;
		margin-bottom: 24px;
	}
}

body.search-results .directory-intro {
	margin-bottom: 0;
}

body.single-ramp_topic .item-intro > .ramp-page-section {
	margin-bottom: 0;
	padding-bottom: 48px;
}

.arrow-button,
.item-type-block-all-link {
	background: url('../img/ic_arrow_forward_24px.png') no-repeat right center;
	background-size: 24px auto;
	padding-right: 36px;
}

.item-type-block-all-link a {
	font-weight: 700;
	text-decoration: none;
}

.item-type-block-all-link a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
	.item-type-block > div {
		margin-bottom: 48px;
	}

	.item-type-block-all-link {
		display: inline-block;
	}

	.contains-swipeable .item-type-block-all-link {
		padding-left: 16px;
	}
}

/* Social links */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-mail {
	background: none;
}

.wp-social-link-twitter svg,
.wp-social-link-instagram svg,
.wp-social-link-facebook svg,
.wp-social-link-mail svg {
	display: none;
}

.wp-social-link-twitter button:after,
.wp-social-link-twitter a:after,
.wp-social-link-instagram button:after,
.wp-social-link-instagram a:after,
.wp-social-link-facebook button:after,
.wp-social-link-facebook a:after,
.wp-social-link-mail button:after,
.wp-social-link-mail a:after {
	background-repeat: no-repeat;
	content: '';
	height: 24px;
}

.wp-social-link-twitter button:after,
.wp-social-link-twitter a:after {
	background-image: url(../img/social-icons/twitter.svg);
	width: 30px;
}

.wp-social-link-instagram button:after,
.wp-social-link-instagram a:after {
	background-image: url(../img/social-icons/instagram.svg);
	width: 24px;
}

.wp-social-link-facebook button:after,
.wp-social-link-facebook a:after {
	background-image: url(../img/social-icons/facebook.svg);
	width: 13px;
}

.wp-social-link-mail button:after,
.wp-social-link-mail a:after {
	background-image: url(../img/social-icons/email.svg);
	width: 30px;
}

.ramp-arrow-more-link {
	display: block;
	height: 18px;
	position: relative;
	text-decoration: underline;
	text-indent: -999em;
	width: 41px;
}

.ramp-arrow-more-link:after {
	background: url(../img/ic_arrow_forward_24px.png) no-repeat;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.enforce-reading-width {
	max-width: 982px;
}

.citation-body-text {
	border-left: 6px solid var(--wp--preset--color--light-grey);
	font-size: var(--wp--preset--font-size--large-text);
	line-height: 1.8em;
	padding-left: 48px;
}

/* Events */

.single-tribe_events .tribe-events-event-meta {
	background: none;
	border: none;
	display: flex;
}

.single-tribe_events .tribe-events-event-meta > div {
	flex: 0 0 50%;
}

.tribe-events-event-meta .tribe-events-meta-group {
	float: none;
	padding: 0;
	margin: 0;
	width: auto;
}

h3.tribe-events-single-section-title {
	margin-top: 0;
}

.tribe-events-event-meta a {
	text-decoration: underline;
}

.tribe-events-event-meta a:hover {
	text-decoration: none;
}

.tribe-events-meta-group-details dt,
.tribe-events-meta-group-details dd,
.tribe-events-meta-group-details dd div {
	display: inline;
}

.tribe-events-meta-group-details dd {
	margin-left: 8px;
}

.event-body-text {
	border-left: 6px solid var(--wp--preset--color--light-grey);
	line-height: 1.8em;
	padding-left: 48px;
}

.event-body-text blockquote {
	margin-left: 0;
}

.tribe-block__events-link {
	flex-direction: column;
	gap: 16px;
	padding: 0;
}

.tribe-block__events-link .wp-block-button__link:before {
	content: '+';
}

.has-featured-image .item-intro {
	background: var(--wp--preset--color--ramp-green);
}


/* WP doesn't allow for different mobile vs desktop width targeting */
.wp-block-columns.is-not-stacked-on-mobile > .wp-block-column.header-logo-column {
	flex-basis: 300px;
	flex-grow: 0;
}

@media screen and (max-width: 600px) {
	.header-default {
		padding-bottom: 16px !important;
	}

	.header-inner .wp-block-site-tagline {
		display: none;
	}

	.wp-block-columns.is-not-stacked-on-mobile > .wp-block-column.header-logo-column {
		flex-basis: 50%;
	}

	.header-logo-column .wp-block-site-logo img {
		max-width: 100%;
		height: auto;
	}
}
