.wp-block-separator {
	border-top: none;
}

.ramp-page-section {
	border-bottom: 1px solid var(--wp--preset--color--medium-grey);
	padding: 0 0 42px 0;
}

.ramp-page-section:first-child {
	padding-top: 0;
}

.ramp-page-bottom:last-child {
	border-bottom: none;
}

/*
 * Navigation/search
 */

.wp-block-navigation .wp-block-navigation__submenu-icon {
	margin-left: 8px;
	background: url( '../img/ic_arrow_drop_down_24px.png' ) no-repeat center right;
}

.wp-block-navigation .wp-block-navigation__submenu-icon svg {
	display: none;
}

.wp-block-columns.nav-and-search {
	align-items: center !important;
}

.nav-search {
	text-indent: -999em;
	width: 18px;
	height: 18px;
	background-image: url( '../img/search.png' );
	background-size: 18px 18px;
}

/* Block editor doesn't support doing this properly */
.header-centered {
	text-align: center;
}

.header-centered .nav-and-search {
	display: inline-flex;
}

.header-centered .nav-and-search-group {
	border-top: 1px solid var(--wp--preset--color--almost-black);
}

.footer-nav .wp-block-navigation a,
.footer-nav .wp-block-navigation a:active,
.footer-nav .wp-block-navigation a:focus {
	text-decoration: underline;
}

.footer-nav .wp-block-navigation a:hover {
	text-decoration: none;
}

/**
 * theme.json doesn't yet support pseudo-classes.
 *
 * See https://github.com/WordPress/gutenberg/issues/27075
 */
a:hover {
	text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration: underline;
}

/* Item Type */
.item-type-block {
	margin-bottom: 64px;
}

.item-type-block-header {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.item-type-block-header > h2 {
	margin-bottom: 0;
}

.item-intro h2 {
	margin-top: 0;
}

.item-intro-item-type {
	font-weight: 700;
	text-transform: uppercase;
}

.arrow-button,
.item-type-block-all-link {
	background: url('../img/ic_arrow_forward_24px.png') no-repeat right center;
	background-size: 24px auto;
	padding-right: 36px;
}

.item-type-block-all-link a {
	font-weight: 700;
	text-decoration: none;
}

.item-type-block-all-link a:hover {
	text-decoration: underline;
}

/* Social links */
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-mail {
	background: none;
}

.wp-social-link-twitter svg,
.wp-social-link-instagram svg,
.wp-social-link-facebook svg,
.wp-social-link-mail svg {
	display: none;
}

.wp-social-link-twitter button:after,
.wp-social-link-twitter a:after,
.wp-social-link-instagram button:after,
.wp-social-link-instagram a:after,
.wp-social-link-facebook button:after,
.wp-social-link-facebook a:after,
.wp-social-link-mail button:after,
.wp-social-link-mail a:after {
	background-repeat: no-repeat;
	content: '';
	height: 24px;
}

.wp-social-link-twitter button:after,
.wp-social-link-twitter a:after {
	background-image: url(../img/social-icons/twitter.svg);
	width: 30px;
}

.wp-social-link-instagram button:after,
.wp-social-link-instagram a:after {
	background-image: url(../img/social-icons/instagram.svg);
	width: 24px;
}

.wp-social-link-facebook button:after,
.wp-social-link-facebook a:after {
	background-image: url(../img/social-icons/facebook.svg);
	width: 13px;
}

.wp-social-link-mail button:after,
.wp-social-link-mail a:after {
	background-image: url(../img/social-icons/email.svg);
	width: 30px;
}

.ramp-arrow-more-link {
	display: block;
	height: 18px;
	position: relative;
	text-decoration: underline;
	text-indent: -999em;
	width: 41px;
}

.ramp-arrow-more-link:after {
	background: url(../img/ic_arrow_forward_24px.png) no-repeat;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.enforce-reading-width {
	max-width: 982px;
}
