.ramp-tag {
	background: #eaeaea;
	border-radius: 16px;
	color: #000;
	font-size: .9em;
	line-height: 2.5em;
	padding: 8px 16px;
	text-decoration: none;
	white-space: nowrap;
}

/*
 * Navigation/search
 */

.wp-block-navigation .wp-block-navigation__submenu-icon {
	margin-left: 8px;
	background: url( '../img/ic_arrow_drop_down_24px.png' ) no-repeat center right;
}

.wp-block-navigation .wp-block-navigation__submenu-icon svg {
	display: none;
}

.wp-block-columns.nav-and-search {
	align-items: center !important;
}

.nav-search {
	text-indent: -999em;
	width: 18px;
	height: 18px;
	background-image: url( '../img/search.png' );
	background-size: 18px 18px;
}

/* Block editor doesn't support doing this properly */
.header-centered {
	text-align: center;
}

.header-centered .nav-and-search {
	display: inline-flex;
}

.header-centered .nav-and-search-group {
	border-top: 1px solid var(--wp--preset--color--almost-black);
}

/**
 * theme.json doesn't yet support pseudo-classes.
 *
 * See https://github.com/WordPress/gutenberg/issues/27075
 */
a:hover {
	text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration: underline;
}

/* Item Type */
.item-type-block {
	margin-bottom: 64px;
}

.item-type-block-header {
	display: flex;
	justify-content: space-between;
}

.item-type-block-header > h2 {
	margin-bottom: 0;
}

.arrow-button,
.item-type-block-all-link {
	background: url('../img/ic_arrow_forward_24px.png') no-repeat right center;
	background-size: 24px auto;
	padding-right: 36px;
}

