<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}, "className": "ramp-container"} -->
<div class="wp-block-group ramp-container">
	<!-- wp:group {"tagName":"header", "style":{"spacing":{"margin":{"bottom":"48px"}}}} -->
	<header class="wp-block-group" style="margin-bottom: 48px">
		<!-- wp:group {"className":"item-intro"} -->
		<div class="wp-block-group item-intro">
		</div>
		<!-- /wp:group -->
	</header>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"main"} -->
	<main class="wp-block-group">
		<!-- wp:pattern {"slug":"research-amp-theme/404"} /-->
	</main>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
