<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"ramp-theme/profiles-archive-intro"} /-->

	<!-- wp:group {"backgroundColor":"light-grey"} -->
	<div class="wp-block-group has-light-grey-background-color has-background">
		<!-- wp:ramp/citation-library-filters /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:ramp/profile-teasers {"numberOfItems":"20","researchTopic":"all"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
