<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"ramp-theme/profiles-archive-intro"} /-->

	<!-- wp:group {"backgroundColor":"light-grey"} -->
	<div class="wp-block-group has-light-grey-background-color has-background">
		<!-- wp:ramp/profile-directory-filters /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"24px"} -->
	<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:ramp/profile-teasers {"contentMode": "all", "numberOfItems": 20, "showLoadMore":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
