<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main", "className": "ramp-container"} -->
<main class="wp-block-group ramp-container">
	<!-- wp:pattern {"slug":"research-amp-theme/citation-library-intro"} /-->

	<!-- wp:group {"backgroundColor":"background-light"} -->
	<div class="wp-block-group has-background-light-background-color has-background">
		<!-- wp:research-amp/citation-library-filters /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"24px"} -->
	<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:research-amp/citation-teasers {"numberOfItems":20,"contentMode":"all","showLoadMore": true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
