<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main", "className": "ramp-container" } -->
<main class="wp-block-group ramp-container">
	<!-- wp:pattern {"slug":"research-amp-theme/research-reviews-archive-intro"} /-->
	<!-- wp:research-amp/research-review-teasers {"contentMode":"all","variationType":"grid","numberOfItems":"6","showLoadMore":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
