<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main", "className": "ramp-container" } -->
<main class="wp-block-group ramp-container">
	<!-- wp:pattern {"slug":"research-amp-theme/articles-archive-intro"} /-->
	<!-- wp:research-amp/article-teasers {"contentMode":"all", "numberOfItems":10, "showLoadMore":true, "variationType":"list"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
