<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main", "className": "ramp-container"} -->
<main class="wp-block-group ramp-container">
	<!-- wp:pattern {"slug":"research-amp-theme/profiles-archive-intro"} /-->

	<!-- wp:group {"layout":{"inherit":true},"className":"featured-profiles"} -->
	<div class="wp-block-group featured-profiles">
		<!-- wp:heading {"level":2} -->
		<h2>Featured Profiles</h2>
		<!-- /wp:heading -->

		<!-- wp:research-amp/profile-teasers {"contentMode": "featured", "horizontalSwipe": false, "numberOfItems": 3, "showLoadMore":false, "order":"random"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"24px"} -->
	<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"backgroundColor":"background-light"} -->
	<div class="wp-block-group has-background-light-background-color has-background">
		<!-- wp:research-amp/profile-directory-filters /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"24px"} -->
	<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:research-amp/profile-teasers {"contentMode": "all", "horizontalSwipe": false, "numberOfItems": 20, "showLoadMore":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
