<!-- wp:template-part {"slug":"header","tagName":"header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"64px"}},"className":"ramp-home"} -->
<main class="wp-block-group ramp-home">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"0px","bottom":"40px","left":"0px"}}},"backgroundColor":"light-grey"} -->
		<div class="wp-block-group has-light-grey-background-color has-background" style="padding-top:40px;padding-right:0px;padding-bottom:40px;padding-left:0px;">
			<!-- wp:group {"layout":{"inherit":true}} -->
				<div class="wp-block-group">
					<!-- wp:ramp/homepage-slides /-->
				</div>
			<!-- /wp:group -->
		</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"ramp-theme/research-reviews-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/research-topics-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/call-to-action"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/articles-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/profiles-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/news-items-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/events-blade"} /-->
</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
