<!-- wp:template-part {"slug":"header","tagName":"header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"64px"}},"className":"ramp-home"} -->
<main class="wp-block-group ramp-home">
	<!-- wp:group {"style":{"backgroundColor":"background-light"} -->
	<div class="wp-block-group has-background-light-background-color has-background">
		<!-- wp:group {"layout":{"inherit":true}} -->
			<div class="wp-block-group">
				<!-- wp:research-amp/homepage-slides /-->
			</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"research-amp-theme/research-reviews-blade"} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:separator {"color":"neutral","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-background has-neutral-background-color has-neutral-color is-style-wide"/>
		<!-- /wp:separator -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"research-amp-theme/research-topics-blade"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/call-to-action"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/articles-blade"} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:separator {"color":"neutral","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-background has-neutral-background-color has-neutral-color is-style-wide"/>
		<!-- /wp:separator -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"research-amp-theme/profiles-blade"} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:separator {"color":"neutral","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-background has-neutral-background-color has-neutral-color is-style-wide"/>
		<!-- /wp:separator -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"research-amp-theme/news-items-blade"} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:separator {"color":"neutral","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-background has-neutral-background-color has-neutral-color is-style-wide"/>
		<!-- /wp:separator -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"research-amp-theme/events-blade"} /-->
</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
