<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"className":"directory-intro ramp-container"} -->
<div class="wp-block-group directory-intro ramp-container">
	<!-- wp:research-amp/search-form /-->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":48,"className":"hide-on-mobile"} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer hide-on-mobile"></div>
<!-- /wp:spacer -->

<!-- wp:query {"layout":{"inherit":true}, "tagName": "main", "className": "ramp-container"} -->
<main class="wp-block-query ramp-container">
	<!-- wp:research-amp/search-results-count /-->

	<!-- wp:post-template -->
		<!-- wp:research-amp/search-result-teaser /-->
	<!-- /wp:post-template -->

	<!-- wp:research-amp/search-load-more /-->
</main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
