<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"className":"directory-intro"} -->
<div class="wp-block-group">
	<!-- wp:ramp/search-form /-->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":48} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"layout":{"inherit":true}, "tagName": "main"} -->
<main class="wp-block-query">
	<!-- wp:ramp/search-results-count /-->

	<!-- wp:post-template -->
		<!-- wp:ramp/search-result-teaser /-->
	<!-- /wp:post-template -->

	<!-- wp:ramp/search-load-more /-->
</main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
