<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">
	<!-- wp:group {"tagName":"header", "style":{"spacing":{"margin":{"bottom":"48px"}}}} -->
	<header class="wp-block-group" style="margin-bottom: 48px">
		<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"0px","bottom":"0px","right":"0px"}}},"backgroundColor":"ramp-primary","textColor":"white","layout":{"inherit":false}} -->
		<div class="wp-block-group has-white-color has-ramp-primary-background-color has-text-color has-background has-link-color" style="padding-top:0px;padding-right:0px;padding-bottom:0px">
			<!-- wp:group {"layout":{"inherit":true}, "className": "ramp-container" } -->
			<div class="wp-block-group ramp-container">
				<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"48px","left":"48px"}}},"className":"item-intro article-with-featured-image-item-intro"} -->
				<div class="wp-block-columns item-intro article-with-featured-image-item-intro">
					<!-- wp:column {"style":{"spacing":{"padding":{"top":"64px","bottom":"48px"}}}, "className": "article-intro-content"} -->
					<div class="wp-block-column article-intro-content" style="padding-top:64px;padding-bottom:48px">
						<!-- wp:research-amp/item-type-label /-->

						<!-- wp:post-title {"className":"enforce-reading-width", "level":1} /-->

						<!-- wp:research-amp/item-byline {"showPublicationDate":"true"} /-->

						<!-- wp:research-amp/item-research-topics /-->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"className": "article-featured-image"} -->
					<div class="wp-block-column article-featured-image">
						<!-- wp:post-featured-image /-->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</header>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"inherit":true}, "className": "ramp-container" } -->
	<div class="wp-block-group ramp-container">
		<!-- wp:columns {"style":{"spacing":{"blockGap":"32px"}}} -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:group {"tagName":"main"} -->
				<main class="wp-block-group">
					<!-- wp:post-content /-->
				</main>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"360px"} -->
			<div class="wp-block-column" style="flex-basis:360px">
				<!-- wp:group {"style":{"spacing":{"blockGap":"0px"}}} -->
				<div class="wp-block-group">
					<!-- wp:research-amp/cite-this /-->
					<!-- wp:research-amp/suggested-items {"itemType": "article", "numberOfItems": 3, "variationType": "list-mini"} /-->
					<!-- wp:research-amp/social-buttons /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
