<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"64px"}},"layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:group {"className":"item-intro ramp-container"} -->
	<div class="wp-block-group item-intro ramp-container">
		<!-- wp:research-amp/item-type-label /-->

		<!-- wp:group {"className": "ramp-page-section"} -->
		<div class="wp-block-group ramp-page-section">
			<!-- wp:post-title {"level":1} /-->
			<!-- wp:post-content {"className":"enforce-reading-width"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"research-amp-theme/rt-research-reviews-blade"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/rt-articles-blade"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/rt-news-items-blade"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/rt-citations-blade"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/rt-events-blade"} /-->

	<!-- wp:pattern {"slug":"research-amp-theme/rt-profiles-blade"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
