<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
	<!-- wp:columns -->
	<div class="wp-block-columns">
		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:group {"tagName":"main"} -->
			<main class="wp-block-group">
				<!-- wp:group {"tagName":"header"} -->
				<header class="wp-block-group">
					<!-- wp:pattern {"slug": "ramp-theme/research-review-intro"} /-->
				</header>
				<!-- /wp:group -->

				<!-- wp:post-content /-->
			</main>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"360px"} -->
		<div class="wp-block-column" style="flex-basis:360px">
			<!-- wp:paragraph -->
				<p>Since 2010, there has been an exponential growth in health data and health information technologies, such as electronic health records (EHRs), and AI-enabled medical tools. Despite the growth and investment in these technologies, they have had few positive effects on health outcomes, especially for marginalized populations. This review begins by addressing common rhetorical and ethical responses to inequities in health technologies, such as the digital divide and data bias frames. It then problematizes both approaches before proposing that examining racialization, or the creation and circulation of racial hierarchies, can contribute to a more comprehensive framework for facilitating health equity in health information technology.</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
