<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"64px"}},"layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:query {"query":{"offset":0,"postType":"ramp_topic","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","sticky":"","perPage":1,"inherit":true}} -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:post-title /-->
			<!-- wp:post-content /-->
		<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->

	<!-- wp:pattern {"slug":"ramp-theme/rt-research-reviews-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/rt-articles-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/rt-news-items-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/rt-citations-blade"} /-->

	<!-- wp:pattern {"slug":"ramp-theme/rt-events-blade"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
