<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main","style":{"spacing":{"blockGap":"50px"}}} -->
<main class="wp-block-group">
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:post-title /-->
			<!-- wp:post-content /-->
		<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->

	<!-- wp:group {"tagName":"section"} -->
	<section class="wp-block-group">
		<!-- wp:heading	-->
		<h2 id="research-reviews-blade">Research Reviews</h2>
		<!-- /wp:heading -->

		<!-- wp:ramp/research-review-teasers /-->
	</section>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
