.wp-block-button__link {
	border-radius: 2px;
	font-size: var(--wp--preset--font-size--normal);
	font-weight: 600;
	padding: 16px 32px;
}

button.wp-block-button__link {
	border: none;
}

.wp-block-button.is-style-primary .wp-block-button__link {
	background-color: var(--wp--preset--color--ramp-primary);
}

.wp-block-button.is-style-secondary .wp-block-button__link {
	background-color: var(--wp--preset--color--ramp-secondary);
}

.wp-block-button.is-style-primary .wp-block-button__link:hover,
.wp-block-button.is-style-secondary .wp-block-button__link:hover {
	opacity: .8;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	background-color: #fff;
	color: var(--wp--preset--color--text-color);
}

.has-ramp-secondary-background-color .wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: var(--wp--preset--color--ramp-secondary);
}

.wp-block-button.is-style-outline .wp-block-button__link,
.wp-block-button.is-style-tertiary .wp-block-button__link {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	padding: 15px 30px;
}

.wp-block-button.is-style-tertiary .wp-block-button__link {
	border-color: var(--wp--preset--color--text-color);
}

.wp-block-button.is-style-tertiary .wp-block-button__link:hover {
	background-color: var(--wp--preset--color--text-color);
}

.wp-block-button input {
	border: none;
}
